.section-symptom{
    display: inline-block;
    max-width: 1100px;
    margin-left:80px;
    justify-items: center;
    align-content: space-around;
  
}
.contenedor-symptom{
    display: inline-block;
    background-color: white;
    margin-left:5px;
    width: 350px;
    height:290px;
    text-align: left; 
    -webkit-box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 43px 1px rgba(0,0,0,0.75);
}
.contenedor-symptom:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
    z-index: 1;
}

.name-symptom{
    margin-left:20px; 
}
.text-symptom{
    font-size: 15px;
    margin-left:20px;
    width: 300px;
    text-align: justify;
}

.imagen-symptom{
    margin-left:20px;
    padding-top:20px;
    width: 90px;
    height:90px;  
}

.nombre-symptom{
    margin-bottom: 20px;
}