*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: open sans;

}

.seccion-basic{
   margin-top: 20px;
   padding: 10px;
   display: inline-block;
   align-items: center; 
   justify-content: center;
   width: 100%;  
  
}
.text-basic,.basic-basic{
 font-size: 50px; 
 font-weight: 900;
 color:rgb(30, 30, 85);
 text-align: center; 
}
 
