.row{
box-sizing: border-box;
display: inline-block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.stayhome{
   width: 500px;
   margin-left:80px;
   display: inline-block;
   color:white;
   margin-top:5px;
   font-weight: bold;  
}
.stayhome-mensaje{
   width: 500px;
   margin-left:80px;
 
}
