.topCountry{
    display: flex;
    flex-direction: column;
    margin-left: 1.1rem;
}
.card-country{
    display: flex;
    flex-direction: row;
    margin: 2px;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
    border: 1px #eee solid;
    padding:unset;

}

.card-country:hover{
    transform: scale(1.1); 
}


.countries{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 2rem;
}

.imgCountry{
    width: 80px;
    margin: 5px;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
    border: 1px #eee solid;
}

.nameCountry{
    margin: 10px;
    margin-bottom: 2px;
    font-weight: 500;
    line-height: 1.2;
    color: #121158;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
}

.countryCases{
    margin: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: #121158;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;

}

h4{
    display: flex;
    align-items:flex-start;
    color: #121158;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
  }