@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  font-size:18px;
  background-color:rgb(239, 235, 235);
  display: flex;

}


.TrackerApp{
    display: flex;
}
.container-tracker {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top10 {
  display:block;
}